/*header seta */
.info img{
  position: absolute;
  top: 360%;
  left:3.5%;
}

.info img:hover{
  left:2%;
  transition: 0.4s;
}

/*adaptações da grid */
[class*='col-']{
  margin-top: 100px;

}

.col-main-content{
  position: relative;
  width:80%;
  height:72.63922518159806vh;
}

/*navbar da pagina dos contos quando se abre a página*/
.navbar {
  animation: one-time-animation 1s forwards 1;
  animation-name: vaicima;
  top:0; bottom: 0;left: 0; right: 0;
  margin: auto;
}

@keyframes vaicima {
  from {
    margin-bottom: 2.5vh;
    width: 70%;
  }

  to {
    margin-bottom: 93vh;
    width: 70%;
  }
}

/*videos*/
.container-ret-conto{

}

.retanguloconto{
  padding-top: 52.17391304%; /* proporção do video = 23:12, logo 12/23 = 0,5217391304 * 100% = 52.17391304%*/
  position: absolute;
  width: 100%;
  background-color: red;
  z-index: 1;
  left: 0px;
  top: 0px;
}

.video-overlay {
  position: absolute;
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: 2;
}

.video-overlay__video {
  width: 100%;
}

#player {
  position: absolute;
}

.video-vermelho {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.video-vermelho video {
position:absolute;
width:100%;
}

.container-arraste {
position: absolute;
width: 100%;
display: inline-flex;
align-items:center;
justify-content:center;
bottom:2%;
left:0;
}

@keyframes arrastaanim2 {
  0%   {color:white; top:100px;}
  50%   {color:black; top:0px;}
  100% {color:white; top:100px;}
}

#arraste2{
color: white;
text-align: center;
vertical-align: middle;
animation: arrastaanim2 1.3s ease-in ;
animation-delay: 30s;
animation-iteration-count: 10; /*quantas vezes corre*/
}
