/*header seta */
.info img{
  position: absolute;
  top: 360%;
  left:3.5%;
}

.info img:hover{
  left:2%;
  transition: 0.4s;
}

/*adaptações da grid só para visualisar melhor depois tirar*/

[class*='col-']{
  margin-top: 100px;

}

.col-main-content{
  width:80%;
  height:72.63922518159806vh;
  background-color: red;
}


/*navbar da pagina dos contos*/
.navbar {
  animation: one-time-animation 1s forwards 1;
  animation-name: slidein;
  top:0; bottom: 0;left: 0; right: 0;
  margin: auto;
}

@keyframes slidein {
  from {
    margin-bottom: 2.5vh;
    width: 70%;
  }

  to {
    margin-bottom: 93vh;
    width: 70%;
  }
}

/*videos
src(https://doggo.s3.amazonaws.com/iconfinder_paw_1608784.svg);*/
  background-size: 50px 50px;
  --webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  max-width: 100vw;
}
.video-overlay {
  position: absolute;
  width: 360px;
  height: 440px;
  right: -50px;
  bottom: -85px;
  pointer-events: none;
}

#player {
  z-index: 4;
  position: relative;
}
