.info h1{
  margin-left: 11%;
}

.info{
  padding-bottom: 10px;
  /*border-bottom: 3px solid black;*/
  position: relative;
}

.info ::before{
  content: '';
  height: 4px;
  width:80%;
  background: black;
  position:absolute;
  left: 11%;
  bottom: 0;
}

.info img{
  position: absolute;
  top: 10%;
  left:3.5%;
}

.info img:hover{
  left:2%;
  transition: 0.4s;
  cursor: url('../img/black_cursor.png'), auto;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-']{
  float: left;
  margin-top: 40px;
  margin-right: 2%;

}

[class*='col-']:last-of-type {
  padding-right: 0;
}

[class*='col-'] a{
  color: black;
}

[class*='col-'] a:hover{
  color: red;
}

[class*='col-'] p:hover{
  color: red;
  font-size: 16.5px;
}

.col-main-content{
  width:70%;
}

.col-sidebar{
  width:8%;
  height:650px;
  margin-left: 1%;
  display: grid;
  /*isto significa que a grid é de 4 colunas*/
  grid-template-columns: repeat(1, 1fr);
}

.crime-info {
  width: 100px;
  height:100px;
  /*isto aumenta o espaçamento entre as cards*/
  margin:5%;
}

.crime-info img{
  max-width: 100%;
  height: auto;
  align-self: center;
  justify-self: center;
  cursor: url('../img/black_cursor.png'), auto;
}

.crime-info:hover{
  opacity: 70%;
  transition: 0.2s;
  transform: scale(1.05 , 1.05);
}
