.container-slider::-webkit-scrollbar {
  width: 4px;
}

.container-slider::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.container-slider::-webkit-scrollbar-thumb {
  background-color: red;
  outline: 1px solid red;
}
.container-slider{
  position:absolute;
  display: flex;
  width: 6.9vw;  /*não mexer está perfeito 6.9vw*/
  height:71vh;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  top: 111px;
  -webkit-overflow-scrolling: touch;
  min-height: 52.17391304%;
}

.slider{
  display: flex;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  flex-direction: column;
  flex-shrink: 0;
  width: 6.9vw;

}

.item{
  flex-shrink: 0;
  width: 90%;
  position:relative;
  margin:15% 0;

}

.item:hover{
  opacity: 70%;
  transition: 0.2s;
  transform: scale(1.05 , 1.05);
}

.item img{
  object-fit: cover;
  max-width: 100%;
  height: auto;
  transition:0.3s;
}

/* telemovel */
@media screen and (max-width: 600px) {

}

  /* tablets: */
@media screen and (min-width: 600px) and (max-width: 768px) {

}

/* desktop computer */
@media screen and (min-width: 768px) {

}
