*, *:after, *:before{
margin: 0;
padding: 0;
box-sizing: border-box;
cursor: url('../img/black_cursor.png'), auto;
}

.container-slider{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
}

.controls{
  position:absolute;
  display: flex;
  justify-content: space-between;
  width:100px;
  bottom: 10%;
  z-index: 2;
}
.arrow {
  border: 2px solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

}
.arrow:hover{
  border: 2px solid red;
  border-width: 0 3px 3px 0;
}

.up {
  margin-top: 10px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.slider{
  display: block;
}

.item{
  height: 100%;
  width: 100%;
  position:relative;
  margin:15% 0;
}

.item:hover{
  opacity: 70%;
  transition: 0.2s;
  transform: scale(1.05 , 1.05);
}

.item:nth-child(n+6) {
  display:none;
}

.item img{
  max-width: 100%;
  height: auto;
  transition:0.3s;
}
