@font-face {
    font-family: 'Solide Mirage_Etroit';
    src:    url('../webfonts/Etroit/Solide_Mirage-Etroit_web.eot');
    src:    url('../webfonts/Etroit/Solide_Mirage-Etroit_web.eot?#iefix') format('embedded-opentype'),
            url('../webfonts/Etroit/Solide_Mirage-Etroit_web.woff') format('woff'),
            url('../webfonts/Etroit/Solide_Mirage-Etroit_web.woff2') format('woff2'),
            url('../webfonts/Etroit/Solide_Mirage-Etroit_web.ttf') format('truetype'),
            url('../webfonts/Etroit/Solide_Mirage-Etroit_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OCR_A';
    src:    url('../webfonts/OCR/OCRAStd.otf');
    font-weight: normal;
    font-style: normal;
}

*, *:after, *:before{
margin: 0;
padding: 0;
box-sizing: border-box;
cursor: url('../img/black_cursor.png'), auto;
}

body{
  height: 90vh;
}

h1{
    margin-top: 30px;
    font-family: 'Solide Mirage_Etroit';
    font-size: 35px;
}


p{
  font-family: 'OCR_A';
  font-size: 16px;
}

#intro span{
  margin-left: 40px;
}

#intro h1{
  text-align: center;
}


.container-crimes {
  display: grid;
  /*largura do container*/
  width: 100%;

  /*centrar*/
  margin:0 auto;
  margin-top: 1%;
  /*isto significa que a grid é de 4 colunas/edit:4 ou 3*/
  grid-template-columns: repeat(3, 1fr);


}

.crime {
  width: 29%;
  height:auto;
  /*isto aumenta o espaçamento entre as cards*/
  margin: 6%;
  align-self: center;
  justify-self: center;
}

.crime a{

}

.crime img{
  max-width: 100%;
  height: auto;
}

.crime:hover{
  opacity: 70%;
  transition: 0.2s;
  transform: scale(1.05 , 1.05);
}

.navbar{
  bottom:0;
  width: 100%;
  position: absolute;
  height: 10vh;
  margin-bottom: 5vh;
}
/*
.container-nav a{
  font-family: 'OCR_A';
  font-size: 18px;
  color: black;
  text-decoration: none;
  transition: 0.2s;

}


começa aqui!*/

ul{

  width: 100%;
  top: 50%; left: 50%;

  padding: 0px;
  list-style: none;
  text-align: center;
  display: inline-flex;
  justify-content: space-around;

}

li{
  position: relative;
  font-family: 'OCR_A';
  font-size: 20px;
  display: inline-block;
  padding: 0px 15px;
  color: black;
}

.container-nav{
  width: 65%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;


  position: absolute;
  top: 50%;
  left: 50.8%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color:red;
}

.linknav{
  position: relative;
}

.linknav:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 1px;
  right: 0;
  background: red;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.linknav:hover:after{
  width: 100%;
  left: 0;
  background: red;
}
.container-nav a:last-of-type{
  margin-right: 0%;
}


/* For mobile phones */
@media screen and (max-width: 600px) {

  .container-crimes {
   height: 80vh;
  }
  .crime {
    width: 60%;
  }
}


  /* For tablets: */
@media screen and (min-width: 600px) and (max-width: 768px) {
  .container-crimes {
   height: 75vh;
  }
  .crime {
    width: 65%;
  }
}

/* For desktop computer */
@media screen and (min-width: 768px) {
  .crime {
    width: 20vh;
  }
}
